@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: calc(100vh - 8rem);
}

.full-center {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}